<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-lg-4">
    <section class="user_info">
      <h3>
        <%= gravatar_for(@user) %>
        <%= @user.name %>
      </h3>
    </section>
    <%= render 'shared/stats' %>
    <%= render 'follow_form' if logged_in? %>
  </aside>
  <div class="col-lg-8">
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <div class="mt-5">
        <%== pagy_bootstrap_nav(@pagy) %>
      </div>
      <ol class="list-unstyled">
        <%= render @microposts %>
      </ol>
      <div class="mt-5">
        <%== pagy_bootstrap_nav(@pagy) %>
      </div>
    <% end %>
  </div>
</div>
