<header class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
    <%= link_to "SAMPLE APP", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample05" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarsExample05">
      <ul class="navbar-nav me-auto mb-0">
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Help", help_path, class: "nav-link" %>
        </li>
        <% if logged_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
              Account
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user, class: 'dropdown-item' %></li>
              <li><%= link_to "Settings", edit_user_path(current_user), class: 'dropdown-item' %></li>
              <li><hr class="dropdown-divider"></li>
              <li>
                <%= link_to "Log out", logout_path, data: { "turbo-method": :delete }, class: 'dropdown-item' %>
              </li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Log in", login_path, class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</header>
