<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="navbar navbar-expand navbar-dark fixed-top bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Fixed navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-0">
            <li class="nav-item">
              <%= link_to "Home", '#', class: "nav-link active", 'aria-current': "page" %>
            </li>
            <li class="nav-item">
              <%= link_to "Link", '#', class: "nav-link", 'aria-current': "page" %>
            </li>
            <li class="nav-item">
              <%= link_to "Log in", '#', class: 'nav-link disabled', 'aria-disabled': true %>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <main class="container">
      <%= yield %>
    </main>
  </body>
</html>
